<div hide-toggle>
 <section class="home-bk">
  <div class="home-clear"></div>
  <div class="homeSet">
	 <div  ng-if="vm.custId!=''"><b>{{vm.custId}}</b>-<b>{{vm.custName}}</b></div>
	 <div ng-if="vm.custId==''"><div style="display: inline-block;"><b>No Customer Selected</b></div>
	 </div></div>

	</div>
    <div class="home-box" >
	 
	 <ul class="bottom-bx">
	  <a ui-sref="customerdetails" ng-if="vm.per.customer=='True'"><li><input class="btn btn-default" type="submit" value="Customers"></li></a>
	 <a ui-sref=" orderentry" ng-if="vm.per.orderEntry=='True'"><li><input class="btn btn-default" type="submit" value="Create Order"></li></a>
	 <a ui-sref="searchorderentry" ng-if="vm.per.orderHistory=='True'" ng-class="{'indexEvent':online==false}"><li><input class="btn btn-default" type="submit" value="Order History"></li></a>
	 <a ui-sref="searchitem" ng-if="vm.per.searchItem=='True'"> <li><input class="btn btn-default" type="submit" value="Search Items"></li></a>
	 <!--  <a ui-sref="salescommunicator" ng-if="vm.per.orderEntry=='True'" ng-class="{'indexEvent':online==false}"><li><input class="btn btn-default" type="submit" value="Sales Communicator"></li></a> -->
	  <a   ng-if="vm.per.orderEntry=='True'" ng-class="{'indexEvent':online==false}"><li><input class="btn btn-default" type="submit" value="Reports"></li></a>
	    
	
	 </ul><!--bottom-bx-->
	 
	 
	</div><!--home-box--><br/>
	<!--<div style="
    margin-left: 497px;"><button style="width:300px;" class="btn btn-default" ng-if="vm.per.button=='True'">Testing</button></div> -->
  
   </section>
</div>