<div hide-toggle>
    <section >
      <div class="col-md-12 banner-section clear-site-1">
        <section>
          <!-- breadcrumbs-links start --> 
          <div class="col-md-12 breadcrumbs-links bread-comm">
            <div class="container">
              <ol class="breadcrumb">
                <a ui-sref="home">Home</a>>
                <a ui-sref="login"> Login</a>
              </ol>
            </div>
            <!-- container -->
          </div>
          <!-- breadcrumbs-links end -->
        </section>
        <img src="images/banner.png" class="desktop-ban">
        <img src="images/banner-tab.png" class="tab-mob-ban">
        <!-- banner-section start --> 
      </div>
      <!-- banner-section end-->
    </section>
    <section>
   <!--  <div class="loader-class" ng-show="isLoading">
          <img src="{{loadinImg}}"/>
          <p>Loading...</p>
      </div> -->
      <div class="col-md-12 client-login-form clear-site-1">
        <!-- client-login-form start --> 
        <div class="carousel-caption-div">
          <!--center div start-->
          <p>Enter Your Credentials</p>
          <div ng-if="vm.authMsg" class="validUser">Username or Password Incorrect.</div>
          <form name="form" ng-submit="vm.checkLogin(vm.submitRequest)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" ng-model="vm.submitRequest.userId"></input>
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  placeholder="Password" ng-model="vm.submitRequest.password">
            </div>
            
            <button type="submit" class="btn btn-default">LOGIN</button>
          </form>
          <p class="forgot-pw"><a ui-sref="forget">Forgot Password?</a></p>
        </div>
        <!--center div end-->
      </div>
      <!-- client-login-form end-->
    </section>
    <section>
      <div class="col-xs-12 col-sm-12 col-md-12 footer-section">
        <h3 class="create-hdg"><a ui-sref="signup">Create New Account</a></h3>
      </div>
      <!-- new-account end-->
    </section>

</div>