<div hide-toggle>
 <!-- Bread Crumb
      <section>
         <div class="col-md-12 breadcrumbs-links">
          
            <div class="container">
                <ol class="breadcrumb br-quk    bd-color">
                 <a ui-sref="login" class="color2">Home</a>>
                 <a ui-sref="orderentryaddinfo" class="color2"> Quick-Order-Entry</a>
               </ol>
            </div>
         
         </div>
         
      </section> -->
    <!--   <div class="col-sm-12 col-md-12 quck-details-bar clear-site-1">
       

         <div class="container" id="pick_up_order">
            <div class="col-md-6 details-heading clear-site-1">
               <p>Pick Up Order Screen</p>
            </div>
            
            <div  class="col-md-6 details-submit clear-site-1 open-submit">
            
            </div>
            
         </div>
         
      </div>
      Customer-details-bar end --> 
      <section>
         <div class="container" id="quick-full-tab">
            <div class="col-md-12 main-div mob-view-hide mob-qk-hide clear-site-1" id="rem-scroll">
             <!-- Pickup Class -->
               <div class="col-sm-12 col-md-12 quick-order-form  clear-site-1 qk-remove" id="qk-remove-space">
                  <!-- quick-order-form desktop start--> 
                  <form>
                     <ul class="col-sm-6 col-md-6 inner-form-left">
                        <li>
                           <span class="e-first">EOR#</span> 
                           
           <p><input  ng-disabled="true" type="text" class="EOR-btn" ng-model="vm.EOR" placeholder=""> 
                        <style type="text/css">
                        
                        .EOR-btn{
                        display: block;
                        width: 42%;
                        height: 34px;
                        padding: 6px 12px;
                        font-size: 14px;
                        line-height: 1.42857143;
                        color: #0505c7;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #ccc;
                        font-weight:bold;
                        }
                        
                      ::-webkit-input-placeholder {
                      font-size: 14px;
                      color: #003E89;
                     
                      text-align: left;


                     }
                     :-moz-placeholder { /* older Firefox*/
                      font-size:14px;
                      color: #003E89;
                     
                       text-align: left;


                     }
                     ::-moz-placeholder { /* Firefox 19+ */ 
                      font-size: 14px;
                      color: #003E89; 
                      
                      text-align: left;


                     } 
                     :-ms-input-placeholder { 
                      font-size: 14px; 
                      color: #003E89;
                      
                      text-align: left;

                      
                     }                    
                     

                       </style>
                                </p>
                        </li>
                        <li >
                           <span>Customer</span>
                           <p class="account">
                             <!-- <select class="form-control account-field" ng-model="vm.SelectedCustomer" 
                                placeholder="Select Customer" ng-change="vm.onCustomerChanged()">
                              <option ng-repeat="Customer in vm.Customers" value="{{Customer.UserID}}" 
                              ng-selected="vm.selectedCustomerValue==Customer.UserID">
                                   {{Customer.UserID +"--"+Customer.Name}}
                              </option>
                              </select> -->
                               <div style="height:38px;"><ac-select  ac-model='vm.SelectedCustomer' ac-options='cust as cust.Name for cust in vm.constumerDetails()'
                                ac-change="vm.onCustomerChanged(value)"> <option class="col-sm-2"  value="" selected></option></ac-select>
                              </div>

                           <!--           <ac-select 
                              ac-model='vm.custSelected' 
                              ac-options='cust as cust.Name for cust in vm.customerDetails()'
                              ac-change="vm.setCustId(value)"> 
                              <option class="col-sm-2"  value="" selected>All</option></ac-select>  -->
 
                           </p>
                          <!--     <div class="account-icon"><img src="images/account-icon.png">                           

                           </div> -->
                        </li></br>
                      <li ng-show="vm.ExtraInfo" style="z-index: 999;position: relative;">
                           <span>Delivery</span>
                           <p><input type="text" id="datepicker1" ng-model="vm.DeliveryDate" date-format="MM-dd-yyyy"></p>
                     </li > 
                        <li ng-show="vm.ExtraInfo">
                           <span>Amt Collected </span>
                           <p><input type="text" class="form-control" ng-model="vm.AmountCollected"  placeholder="" ></p>
                        </li>
                        <li ng-show="vm.ExtraInfo">
                           <span>Comments </span>
                           <p><textarea class="txtarea"  style="height: 81px;" ng-model="vm.Comment"></textarea></p>
                        </li>
                             <li >
                        <div >
                        
                         <select class="form-control account-field dpt-label" ng-model="vm.SelectedDepartment" 
                                placeholder="Select Department" >
                              <option ng-repeat="Department in vm.Departments" 
                              value="{{Department.DepartmentCode}}" 
                                ng-selected="vm.selectedDepartmentValue==Department.DepartmentCode">
                                   {{Department.DepartmentCode}}
                              </option>
                        </select>
                         <!--  <span>Item </span> -->
                        <input type="tel" class="form-control item-num dpt-lab-itm" ng-model="vm.ItemCode"  placeholder="Item / UPC#"  ng-keypress="addItem($event,'')"  focus-me = "{{vm.setItemCodeFocus}}" id="txtItemCode" required/> 

                    <input type="number" 
                    class="form-control  dpt-lab-qty ng-pristine ng-untouched ng-valid" 
                   onfocus="this.select();" ng-model="vm.CaseQty" ng-keypress="addItem($event,'')" placeholder="Case Qty"/>

                    <input type="number" ng-show="vm.isPickup" class="form-control  dpt-lab-qty ng-pristine ng-untouched ng-valid" onfocus="this.select();" ng-keypress="addItem($event,'')" ng-model="vm.UnitQty"  placeholder="Case Qty"/>

               <input  type="button" class="btn btn-addItem open-order" ng-click="btnAddItem('d')" value="Add">
                           <p>

 
                           </p>
                           </div>
                        </li>
                     </ul>
                     <ul class="col-sm-6 col-md-6 inner-form-right">
                        <li>
                           <span>Pick Up</span>
                           <p> <input type="checkbox" ng-disabled="ctDisabled"  ng-model="vm.isPickup" ng-change="pickUpChange()">

                            <a ng-show="!vm.isPickup" class="btn btn-default btn-searchItem" ng-href="#/search-item?EOR={{vm.EOR}}&custID={{vm.selectedCustomerValue}}">Search Item</a>

                               <a  class="btn btn-default btn-searchItem" ng-href="#search-order-entry?isPending=true&custID={{vm.SelectedCustomer}}">{{vm.pendingOrderCount}} -- Open Orders</a>

                           </p>
                          </li>
                        <li>
                           <span>Day</span>
                           <p>
                             

                               <select class="form-control delivery-drop" ng-model="vm.SelectedDay" ng-options="Day.Value as Day.Day for Day in Days" 
                               ng-change="vm.checkDaySelection('1')"></select>

                               <select class="form-control delivery-drop" ng-model="vm.SelectedNotDay" ng-options="Day.Value as Day.Day for Day in Days" 
                               ng-change="vm.checkDaySelection('2')"></select>

                              <!-- <select class="form-control delivery-drop" ng-model="vm.SelectedNotDay" >
                                  <option ng-repeat="nd in Days" value="{{nd.Value}}"> {{nd.Day}} </option>
                              </select> -->
                           </p>
                        </li>
                        <li ng-show="vm.ExtraInfo">
                           <span>PO#</span>
                           <p>
                     
                       <input type="text" class="form-control" ng-model="vm.ClientPONumber"  placeholder="PO Number">
                           
                           </p>
                        </li>
                        <li ng-show="vm.ExtraInfo">
                           <span>Promo Code</span>
                           <p>
                           <select class="form-control account-field" ng-model="vm.SelectedPromotion" 
                                placeholder="Select Promotion" >
                              
                           <option ng-repeat="Promotion in vm.Promotions" value="{{Promotion.PromoCode}}"  ng-selected="vm.selectedPromoValue==Promotion.PromoCode">
                                   {{Promotion.PromoCode +"--"+Promotion.PromoName}}
                           </option>
                        </select>
                           </p>
                        </li>
                        <li ng-show="vm.ExtraInfo">
                           <span>Select Template</span>
                           <p>
                              <select class="form-control" ng-model="vm.SelectedTemplate" placeholder"Select Template" 
                               ng-change="vm.onTemplateSelected()">
                               
                                    <option ng-repeat="Template in vm.Templates" value="{{Template.BasketID}}">
                                   {{Template.TemplateName}}
                              </option>
                              </select>
                           </p>
                        </li>
                        <li ng-show="vm.ExtraInfo">
                             <span>Template Name</span>
                          <p>                     
                            <input type="text" class="form-control" ng-model="vm.TemplateName"  placeholder="Enter Template Name">                           
                           </p>                
                        </li>
                        
                     </ul>

                  </form>
               </div>
               <!-- quick-order-form desktop end--> 
            </div>
         
         
         <div class="col-md-12 quick-order-form mob-qk-order clear-site-1 " ng-class="{'checkHeight':vm.isPickup == true && vm.ExtraInfo == false,'hh':vm.ExtraInfo == true}" id='qk-remove-space1'>
                     <form>
                        <ul class="col-md-6 inner-form-left">
                           <li>
                                <span class="e-first">EOR#</span> 
                     <div class="nowrap-div">       
           <p><input  ng-disabled="true" type="text" style="padding-right:10px;" ng-model="vm.EOR" placeholder=""> 
            Scan <input  type="checkbox" ng-model="vm.isScan" />
            </p>
            </div>
                               
                           </li>
                           <li>
                              <span class="sect-sp sect-sp1">Select A/c</span>
                              <p class="account">
                    <!--   <select class="form-control account-field" ng-model="vm.SelectedCustomer" id="drpCustomer"
                                placeholder="Select Customer"  ng-change="vm.onCustomerChanged()">
                                <option ng-repeat="Customer in vm.Customers" value="{{Customer.UserID}}"
                                ng-selected="vm.selectedCustomerValue==Customer.UserID">
                                {{Customer.UserID +"--"+Customer.Name}}
                              </option>
                        </select> 
                          <div class="account-icon"><img src="images/account-icon.png"></div>-->

                              <div style="height:38px;"><ac-select  ac-model='vm.SelectedCustomer' ac-options='cust as cust.Name for cust in vm.constumerDetails()'
                                ac-change="vm.onCustomerChanged(value)"> <option class="col-sm-2"  value="" selected></option></ac-select>
                              </div>

                              </p>
                            
                           </li>
                           <li ng-show="vm.ExtraInfo">
                              <span>Pick Up</span>
                              <p> <input type="checkbox"  ng-disabled="ctDisabled" ng-model="vm.isPickup" ng-change="pickUpChange()" >&nbsp;Yes
                               <a  class=" " style="padding-left: 20px;" ng-href="#search-order-entry?isPending=true&custID={{vm.SelectedCustomer}}">{{vm.pendingOrderCount}} -- Open Orders</a>
                               </p>

                           </li>
                           <li ng-show="vm.ExtraInfo">
                              <span>Delivery</span>
                              <p><input type="text" id="datepicker" ng-model="vm.DeliveryDate" date-format="MM-dd-yyyy"></p>
                           </li>
                           <li ng-show="vm.ExtraInfo">
                              <span>Day</span>
                              <p>
                               <select class="form-control delivery-drop" ng-model="vm.SelectedDay" ng-options="Day.Value as Day.Day for Day in Days" 
                               ng-change="vm.checkDaySelection('1')"></select>

                               <select class="form-control delivery-drop" ng-model="vm.SelectedNotDay" ng-options="Day.Value as Day.Day for Day in Days" 
                               ng-change="vm.checkDaySelection('2')"></select>
                              </p>
                           </li>
                           <li ng-show="vm.ExtraInfo">
                              <span>PO#</span>
                              <p>
                                 <input type="text" ng-model="vm.ClientPONumber" class="form-control"  placeholder="PO Number">
                              </p>
                           </li>
                           <li ng-show="vm.ExtraInfo">
                              <span>Amt Collected </span>
                              <p><input type="text" class="form-control" ng-model="vm.AmountCollected" placeholder="" inputmode="numeric"></p>
                           </li>
                           <li ng-show="vm.ExtraInfo">
                              <span>Promo Code</span>
                              <p>
                                <select class="form-control account-field" ng-model="vm.SelectedPromotion" 
                                placeholder="Select Promotion">
                              <option ng-repeat="Promotion in vm.Promotions" value="{{Promotion.PromoCode}}">
                                   {{Promotion.PromoCode +"--"+Promotion.PromoName}}
                              </option>
                        </select>
                              </p>
                           </li>
                           <li class="mobile-comnt" ng-show="vm.ExtraInfo"> 
                              <!--mobile device-->
                              <span>Comments </span>
                              <p><textarea class="txtarea" ng-model="vm.Comment"></textarea></p>
                           </li>
                           <!--mobile device-->
                           <li ng-show="vm.ExtraInfo">
                              <span>Select Template</span>
                              <p>
                                
                            <select class="form-control" ng-model="vm.SelectedTemplate" placeholder"Select Template" 
                              ng-change="vm.onTemplateSelected()">
                                <option>Select Template Name</option>
                                <option ng-repeat="Template in vm.Templates" value="{{Template.BasketID}}">
                                   {{Template.TemplateName}}
                                </option>
                             </select>
                           </p>
                               
                           </li>
                           <li ng-show="vm.ExtraInfo">
                             <p style="width:30%;"> <span>Template</span> </p>
                                  <p> 
                                   <input type="text" class="form-control" ng-model="vm.TemplateName"  placeholder="Enter Template Name" /> 
                                  </p>          
                           </li>
                           <li class="tab-comnt">
                              <span>Comments </span>
                              <p><textarea class="txtarea" ng-model="vm.Comment" ></textarea></p>
                           </li>

                           <li class="col-xs-6 mob-full clear-site-1">
                                <span>Dept </span>
                              <p>
                                 <select class="deptDrop" ng-model="vm.SelectedDepartment" 
                                placeholder="Select Department">
                              <option ng-repeat="Department in vm.Departments" value="{{Department.DepartmentCode}}" ng-selected="vm.selectedDepartmentValue==Department.DepartmentCode">
                               {{Department.DepartmentCode}}
                              </option>
                            </select>
                             <a  ng-show="!vm.isPickup" class="btn btn-primary open-order new-dr" ng-href="#/search-item?EOR={{vm.EOR}}&custID={{vm.selectedCustomerValue}}">Search Item</a>
                              </p>
                           </li>

                           <li class="col-xs-6 mob-full clear-site-1">
                              <span>Item </span>
                             <p><input type="tel" class="form-control item-num" ng-model="vm.ItemCode"    inputmode="numeric" placeholder="Item / UPC#" 
                             id="txtItemCodeMobile" focus-me = "{{vm.setItemCodeMobileFocus}}" ng-keypress="addItem($event,'m')">
                                 <input type="button" class="btn btn-addItem new-sp1 open-order" ng-click="btnAddItem('m')" value="Add">
                              </p>
                           </li>
                           <li class="col-xs-6 mob-full clear-site-5">
                              <span>Cases</span>
                              <p>                     
                       
                                  <input type="button" class="btn btn-minus open-order" ng-click="updateCaseQuantityBox('-1')" value="-"/>

                                  <input type="tel" ng-model="vm.CaseQty" class="form-control item-num case- field" inputmode="numeric" onfocus="this.select();" 
                                   id="txtCaseQtyMobile" onclick="this.select();" placeholder="Case Qty" ng-keypress="addItem($event,'m')"/>

                                   <input type="button" class="btn btn-plus open-order" ng-click="updateCaseQuantityBox('1')" value="+"/>
                              </p>
                           </li>
                            <li class="col-xs-6 mob-full clear-site-5" ng-show="vm.isPickup">
                          <span >Unit</span>
                           <p class="new-nw">
                             <input ng-show="vm.isPickup" type="button" class="btn btn-minus open-order" ng-click="updateUnitQuantityBox('-1')" value="-"/>

                              <input type="tel" ng-model="vm.UnitQty" ng-show="vm.isPickup" class="form-control item-num  case-field" onfocus="this.select()" inputmode="numeric"  placeholder="Units" ng-keypress="addItem($event,'m')"/>

                               <input ng-show="vm.isPickup" type="button" class="btn btn-plus open-order" ng-click="updateUnitQuantityBox('1')" value="+"/>
                           </p>
                        </li>
                        </ul>
                     </form>
                  </div>
          
                  </div>
            <div class="right-space">
              <div class="nowrap-div" >
                  <label> Case Total:  {{getCaseQtyTotal()}}  </label>

                       <label ng-show="vm.isPickup" style="padding-left: 10px;"  >  Unit Total:  {{getUnitQtyTotal()}}  </label>

                       <label id="lblMessage" style="padding-left: 10px; color: green;"  > 
                       {{vm.Message}}</label>
              </div>

               <div class="col-sm-12 col-md-12 table-products-record  mobile-table-view clear-site-3 clear-nw">
                  <!-- table-products-record start   <div class="main-section right-space"> -->
                  <table class="table over-x" >
                                  
                     <thead> 
                        <tr>
                        <th>Dept</th>
                           <th>Item</th>
                           <th>Product</th>                           
                           <th>Cases</th>
                           <th ng-show="vm.isPickup">Units</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        
                    <tr ng-repeat="orderData in vm.orderItemData">
                          <td class="font-size2">{{orderData.Dept}}</td>
                          <td class="font-size2">{{orderData.ProductCode}} </td>
                          <td class="font-size2" style="text-align:left;">{{orderData.DisplayName}}</td>                        

                          <td class="font-size2 nowrap-div" >
                              <input ng-disabled="vm.DisableMinusBtn" type="button" class="btn btn-minus new-odr1 open-order" ng-click="updateCaseQuantity('-1',orderData.ProductCode,orderData.Quantity,orderData.OrdUnits)" value="-"/>

                             <input type="tel" ng-model="orderData.Quantity" value="{{orderData.Quantity}}" class="quantityTxtBox" ng-blur ng-keypress="updateCaseQuantity($event,orderData.ProductCode,orderData.Quantity,orderData.OrdUnits)" ng-readonly="vm.DisablePlusBtn"/>

                              <input ng-disabled="vm.DisablePlusBtn" type="button" class="btn btn-plus new-odr2 open-order" ng-click="updateCaseQuantity('1',orderData.ProductCode,orderData.Quantity,orderData.OrdUnits)" value="+"/>
                          </td>

                          <td ng-show="vm.isPickup" class="font-size2 ">

                               <input type="button" class="btn btn-minus new-odr1 open-order" ng-click="updateUnitQuantity('-1',orderData.ProductCode,orderData.OrdUnits,orderData.Quantity)" value="-"/>


                              <input type="tel" ng-model="orderData.OrdUnits" value="{{orderData.OrdUnits}}"  class="quantityTxtBox" ng-blur ng-keypress="updateUnitQuantity($event,orderData.ProductCode,orderData.OrdUnits,orderData.Quantity)" />

                              <input type="button" class="btn btn-plus new-odr2 open-order" ng-click="updateUnitQuantity('1',orderData.ProductCode,orderData.OrdUnits,orderData.Quantity)" value="+"/>
                          </td>

                          <td class="btn-deleteOrdeItem" ng-click="vm.deleteItem(orderData.PONumber,orderData.ProductCode)" > X</td>

                  </tr>
              
                        
                     </tbody>
                    
                  </table>
                  <!-- table -->
               </div>
               <!-- table-products-record end -->
               <!-- <div class="col-sm-12 col-md-12 table-total-Q">
                  Total Quantity: 0
 
               </div> 
               <!-- table-total-Q end -->
               <div class="col-md-12 table-sub table-sub-mob">
                  <input type="submit" class="form-control qal-sub" ng-click="vm.submitOrder()"  value="SUBMIT">
                  <input type="submit" ng-click="vm.DeleteAllItems()" class="form-control" value="DELETE ALL">
               </div>
               <!-- table-products-record end -->
               <div class="col-md-12 table-hide-info table-hide-mob">
                  <a  ng-click="vm.toggleExtraInfo()">Show/Hide</a>
               </div>
               <!-- table-total-Q end -->
            </div>
         </div>
         </div></div>
      </section>
</div>