
<div class="mainHeader" ng-controller="headerController as vm">

<div menu-toggle class="col-md-12 main-header-section"  ng-show="!login">
        <!-- main-header-section start -->
        
        <div class="row">
          <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-6 inner-logo"> 
              <a ui-sref="login"><img src="images/logo.jpg" id="logo-hide-mob" ></a>
              
            </div>
            <!-- inner-logo end -->
            <div class="col-xs-6 col-sm-6 col-md-6 inner-profile login-hide space-top">
              <!-- inner-profile start --> 
              <nav class='navbar navbar-default' id="mobile-view-nav">
                <div class='container'>
                  <button type='button' class='navbar-toggle' ng-click="toggle()" id="menu-toggle">
                  <span class='sr-only'>Toggle navigation</span>
                  <span class='icon-bar'></span>
                  <span class='icon-bar'></span>
                  <span class='icon-bar'></span>
                  </button>
                  <div id="wrapper" class="wrapper">
                    <div id="sidebar-wrapper">
                      <div class="side_navbar">
                        <a class='navbar-brand text-hide' href='/' onClick="handleClick()"></a>
                      </div>
                      <ul class='sidebar-nav'>
                        <div class="col-xs-6 sidebar-nav-menu">
                          <button type='button' class='navbar-toggle' ng-click="toggle()" id="menu-toggle">
                          <span class='sr-only'>Toggle navigation</span>
                          <span class='icon-bar'></span>
                          <span class='icon-bar'></span>
                          <span class='icon-bar'></span>
                          </button>
                        </div>
                        <!--sidebar-nav-menu-->
                        <div class="col-xs-6 sidebar-nav-logo">
                          <a ui-sref="home"> <img src="images/logo.jpg" id="logo-hide-mob"></a>
                        </div>
                        <!--sidebar-nav-logo-->
                        <li><a ui-sref="login">Home</a></li>
                        <li><a ui-sref="#">About Us</a></li>
                        <li><a ui-sref="#">Contact Us  </a></li>
                        <li><a ui-sref="login">Login </a></li>
                        <li ><a ui-sref="signup">Sign Up</a></li>
                      </ul>
                    </div>
                    <div id="page-content-wrapper">
                    </div>
                  </div>
                  <div class="orig_logo">
                    <a class='navbar-brand text-hide' id="orig_logo"  href='/' onClick={Link.newhandleClick}>SmartMoney</a>
                  </div>
                </div>
              </nav>
             
              <nav class="navbar navbar-default navbar-right desk-view-nav">
                <div class="container-fluid">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li><a ui-sref="login">Home</a></li>
                        <li><a ui-sref="#">About Us</a></li>
                        <li><a ui-sref="#">Contact Us  </a></li>
                        <li><a ui-sref="login">Login </a></li>
                        <li ><a ui-sref="signup">Sign Up</a></li>
                    </ul>
                  </div>
                  <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
              </nav>
            </div>
            <!-- inner-profile end -->
          </div>
          <!-- container -->
        </div>
        <!-- row -->
</div>  
      <!--home header close-->

      <!--main header open-->

<div menu-toggle class="col-md-12 main-header-section " ng-show="login">
    <!-- main-header-section start -->
    <div class="row">
        <div id="top_header" class="container">
            <div class="col-xs-6 col-md-6 inner-logo-box " id="logo-mob">
                <div class="mob-toggle">
                    <nav class='navbar navbar-default' id="mobile-view-nav">
                        <div class='container'>
                            <button type='button' class='navbar-toggle' ng-click="toggle()" id="menu-toggle">
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            </button>
                            <div id="wrapper" class="wrapper">
                                <div id="sidebar-wrapper">
                                    <div class="side_navbar">
                                        <a class='navbar-brand text-hide' href='/' onClick="toggle()">SmartMoney</a>
                                    </div>
                                    <ul class='sidebar-nav'>
                                        <div class="col-xs-6 sidebar-nav-menu">
                                            <button type='button' class='navbar-toggle' ng-click="toggle()" id="menu-toggle">
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            </button>
                                        </div>
                                        <!--sidebar-nav-menu-->
                                        <div class="col-xs-6 sidebar-nav-logo">
                                            <a ui-sref="home"><img src="images/logo.jpg" id="logo-hide-mob"></a>
                                        </div>
                                        <!--sidebar-nav-logo-->
                                        <li class="home-bdr" ng-if="vm.per.home=='True'"><a ui-sref="home">Home</a></li>
                                        <li ng-if="vm.per.customer=='True'"><a ui-sref="customerdetails">Customers</a></li>
                                        <li ng-if="vm.per.orderEntry=='True'"><a ui-sref="orderentry">Create Order </a></li>
                                        <li ng-if="vm.per.orderHistory=='True'" ng-class="{'indexEvent':online==false}"><a ui-sref="searchorderentry">Order History</a></li>
                                        <li ng-if="vm.per.searchItem=='True'" style="border-right:none !important"><a ui-sref="searchitem">Search Items</a></li>
                                        <li ng-if="vm.per.SalesCommunicator=='True'" ng-class="{'indexEvent':online==false}" style="border-right:none !important"><a>Reports</a></li>
                                       <!--  ui-sref="salescommunicator" <li><a ui-sref="#">Promotion Details</a></li> -->
                                    </ul>
                                </div>
                                <div id="page-content-wrapper">
                                </div>
                            </div>
                            <div class="orig_logo">
                                <a class='navbar-brand text-hide' id="orig_logo" href='/' onClick={Link.newhandleClick}>SmartMoney</a>
                            </div>
                        </div>
                    </nav>
                    
                </div>
                <!--mobile-menu-->
                <a ui-sref="home"><img src="images/logo.jpg" class="mob-logo"></a>
            

           
                <div   
                ng-class="{'online-shw1':online == true,'online-shw3':online == false}"></div>

               

               

                
                 </div>
                 

            <!-- inner-logo -->
            <div class="col-xs-6 col-xs-6 col-sm-6 col-md-6 inner-profile-box " id="profile-mob">
                <ul>
                    <li><img src="images/Avatar-blank.jpg" class="mobile-profile-viwe photopic"></li>
                    <li>
                        <div class="btn-group">
                        
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{vm.username}} <span class="caret"></span>
                    </button>
                            <ul class="dropdown-menu newLi">
                                <!-- <li><a href="#">Action</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Another action</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li> -->
                                <li ng-class="{'disCll':vm.per.logout=='False'}"><a href ="" ng-click="vm.logout()">Logout</a></li>

                                <li ng-show="online == true"><a ng-click="vm.getOrderDataFromIndexDB()">Synchronize Order</a></li>

                                <li><a  data-toggle="modal" data-target="#OMS">About OMS</a></li>
 
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- inner-profile end -->
        </div>
        <!-- container -->
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-md-12 nav-bar">
            <!-- nav-bar start -->
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 inner-profile">
                    <!-- inner-profile start -->
                    <nav class='navbar navbar-default navbar-default-quick quick-mobile-hd' id="mobile-view-nav">
                        <div class='container'>
                            <button type='button' class='navbar-toggle' ng-click="toggle()" id="menu-toggle">
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            </button>
                            <div id="wrapper" class="wrapper">
                                <div id="sidebar-wrapper">
                                    <div class="side_navbar">
                                        <a class='navbar-brand text-hide' href='/' onClick="toggle()">SmartMoney</a>
                                    </div>
                                    <ul class='sidebar-nav'>
                                        <div class="col-xs-6 sidebar-nav-menu">
                                            <button type='button' class='navbar-toggle' ng-click="handleClick()" id="menu-toggle">
                                            <span class='sr-only'>Toggle navigation</span>
                                            <span class='icon-bar'></span>
                                            <span class='icon-bar'></span>
                                            <span class='icon-bar'></span>
                                            </button>
                                        </div>
                                        <!--sidebar-nav-menu-->
                                        <div class="col-xs-6 sidebar-nav-logo ">
                                            <a ui-sref="home"><img src="images/logo.jpg" class="mob-quick" id="logo-hide-mob"></a>
                                        </div>
                                        <!--sidebar-nav-logo-->
                                       <li class="home-bdr" ng-if="vm.per.home=='True'"><a ui-sref="home">Home</a></li>
                                        <li ng-if="vm.per.customer=='True'"><a ui-sref="customerdetails">Customers</a></li>
                                        <li ng-if="vm.per.orderEntry=='True'"><a ui-sref="orderentry">Create Order </a></li>
                                        <li ng-if="vm.per.orderHistory=='True'" ng-class="{'indexEvent':online==false}"><a ui-sref="searchorderentry">Order History</a></li>
                                        <li ng-if="vm.per.searchItem=='True'" style="border-right:none !important"><a ui-sref="searchitem">Search Items</a></li>
                                        <li ng-if="vm.per.SalesCommunicator=='True'" ng-class="{'indexEvent':online==false}" style="border-right:none !important"><a >Reports</a></li>
                                       <!-- ui-sref="salescommunicator"  <li><a ui-sref="#">Promotion Details</a></li> -->
                                    </ul>
                                </div>
                                <div id="page-content-wrapper">
                                </div>
                            </div>
                            <div class="orig_logo">
                                <a class='navbar-brand text-hide' id="orig_logo" href='/' onClick={Link.newhandleClick}>SmartMoney</a>
                            </div>
                        </div>
                    </nav>
                    
                    <nav class="navbar navbar-default navbar-default-quick desk-view-nav">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="home-bdr" ng-if="vm.per.home=='True'"><a ui-sref="home">Home</a></li>
                                        <li ng-if="vm.per.customer=='True'"><a ui-sref="customerdetails">Customers</a></li>
                                        <li ng-if="vm.per.orderEntry=='True'"><a ui-sref="orderentry">Create Order </a></li>
                                        <li ng-if="vm.per.orderHistory=='True'"><a ui-sref="searchorderentry" ng-class="{'indexEvent':online==false}">Order History</a></li>
                                        <li ng-if="vm.per.searchItem=='True'" style="border-right:none !important"><a ui-sref="searchitem">Search Items</a></li>
                                        <li ng-if="vm.per.SalesCommunicator=='True'" ng-class="{'indexEvent':online==false}" style="border-right:none !important"><a>Reports</a></li>
                                <!--  ui-sref="salescommunicator" <li><a ui-sref="#">Promotion Details</a></li> -->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
                <!-- inner-profile end -->
            </div>
            <!-- container -->
        </div>
        <!-- nav-bar end -->
    </div>
    <!-- row -->
</div>



</div> <!--  close main div  header   -->
<div class="modal fade" id="OMS" role="dialog"  data-backdrop="static">
  <div class="modal-dialog" style="z-index:9999999">
      <div class="modal-content" >

          <div class="modal-header">  
              <h2 style="text-align:center"><img src="images/logo.jpg" id="logo-hide-mob" ></h1>
          </div>

          <div  style="padding-top: 0;" class="modal-body  ftr-align">
               <h4 >Order Management System</h4>
               <h4 >Version 2.0.0</h4>
          </div>

          <div class="modal-footer ftr-align">
              
            
              <button class="orangeBtn add-crt-btn1" data-dismiss="modal" >Close</button>
          </div>
          
      </div>
  </div>
</div>